:root {
  --color-first: #007bdf;
  --color-first-alt: #006dc6;
  --color-second: #00cbff;
  --color-second-alt: #00bff0;
  --color-third: #ff3c32;
  --color-third-alt: #ff2419;
  --color-accent: #fba905;
  --color-accent-alt: #f1a000;
  --color-light: #f0f0f0;
  --color-dark: #282d31;
  --color-dark-alt: #141618;
  --color-border: #dfe0e0;
  --color-text: #53575a;
  --color-text-light: #babdbf;
  --color-body-bg: #f6f6f6;
  --color-bgrey: #2a3b47;
  --color-bgrey-alt: #263238;
}
